* {
    margin: 0;
    padding: 0;
}

.Nav_Header {
    display: flex;
    background-color:#a0eb10;
    width: 100%;
    height: 60px;
    align-items: center;
}
.Caixa {
    position:absolute;
}
.menu {
    position:absolute;
    display: none;
    list-style: none;
    top:60px;
}

#menuImg {
    position:relative;
    height:40px;
    width: min-content;
    border-radius: 5px;
    left: 1em;
}

#menuID {
    display:contents;
}

#menuID:checked ~ .menu {
    position: absolute;
    display: block;
    top:115%
}

#menuImg:hover {
    animation-name: timingMenu;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes timingMenu {
    from {
        background-color: #a0eb10;
    }
    50% {
        background-color: grey;
    }
    to {
        background-color: #a0eb10;
    }
}